* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.general-list {
  list-style-type: none;
  row-gap: 24px;
}
.titles {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 0;
}
.item {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 8px; */
    list-style-type: none;
    border-radius: 24px;
      width: 392px;
      background: #f6f6fe;
      padding: 16px;
      
}
.list-item {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  list-style-type: none;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 0;
}
.items {
  width: 360px;
    height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   align-items: center;
   justify-content: center;
   gap: 24px; 
   row-gap: 48px;
 }
 .gallery img {
  display: block;
  height: 300px;
  width: 360px;
 }
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form {
  min-width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 152px;
  gap: 8px;
}
.form-task {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.fill-form {
  width: 360px;
  height: 40px;
}
.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
background: #6c8cff;
}
.widget {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 8px;
      padding: 100px 88px;
      width: 345px;
      height: 280px;
}
.change-color {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
      padding: 8px 16px;
      width: 148px;
      height: 40px;
      background: #4e75ff;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.change-color:hover,
.change-color: :focus {
  background: #6c8cff;
}
.text {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.create-one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 16px;
  background: #f6f6fe;
}
.create-two {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    border-radius: 8px;
   padding: 32px;
    background: #f6f6fe;
}
.create-form {
  border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px 72px;
    width: 150px;
    height: 40px;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;
}
.create-btn {
  border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.create-btn:hover,
.create-btn:focus {
  background: #6c8cff;
}
.destroy-btn {
  border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #ff4e4e;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.destroy-btn:hover,
.destroy-btn:focus {
  background: #ff7070;
}